html {
  height:100%;
}


body {
  background-color: beige;
  background-image: url("../images/house.jpg");
}

.container {
  background-color: rgb(255, 255, 255);
  border: rgb(195, 167, 153) 3px solid;
}

.col {

}

.middle {
  margin: 30px;
}

.banner {
  position: relative;
}

.text {
  text-align: justify;
}

.heading {
  color: black;
  position: absolute;
  top: 35%;
  width: 100%;
  padding-right: 6%;
  text-align: center;
  font-family: 'Corinthia', cursive;
  font-size: 5em;
  font-weight: bolder;
}

.footer {
  background-color: rgb(234, 226, 205);
  margin: 15px;
  border-radius: 10px;
}

.input-group {
  height: 35px;
  margin: 0px;
}

span.input-group-text {
  background-color: rgb(245,219,220);
}



button.btn.mr-1.btn-success.btn-lg {
  background-color: rgb(146,175,137);
  margin-top: 20px;
}

button.btn.mr-1.btn-warning.btn-lg {
  background-color: rgb(229,159,100);
  margin-top: 20px;
}

.navbar-brand {
  font-family: 'Corinthia', cursive;
}

.house-image {
  display: block;
  position: relative;
  /* this approach should be rethought somehow: */
  width: 64px;
  height: 64px;
  margin: auto 8px;
  top: 8px;
}

.topTable {
  background-color: rgb(116,163,181);
}

.table-responsive {

}

@media only screen and (max-width: 1399px) {
  .heading{
    font-size: 4em;

  }
}

@media only screen and (max-width: 850px) {
  .heading{
    font-size: 3em;

  }
}

@media only screen and (max-width: 770px) {
  .heading{
    font-size: 2em;

  }

}

@media only screen and (max-width: 500px) {
  .heading{
    font-size: 1em;

  }

  .container .m-5{
    margin: 0 !important;
  }

  .container-sm .input-group{
    margin: 5px 0;
  }

  .container-sm .input-group-text{
    width: 100%;
  }
}


